<div class="form-container">
  <div class="form" style="padding:20px;">
    <div class="flex-center">    
      <div class="page-title">
        <h4 style="text-align: center;color:white;margin-bottom: 0;">Edit Profile</h4>
        <hr style="margin-top:0;border-top: 2.5px solid;">
      </div>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :first_name,
                required: true,
                input_html: { autocomplete: "first-name" }%>
        <label style="margin-top:15px;font-size: 12px;" class="required" for="">Photo <abbr title="required">*</abbr></label>
        <label class="btn cta-secondary" style="    width: 100%;
    border-radius: 12.5px;
    min-height: 38px;
    margin-top: 0;margin-left:0;">
          <p style="margin:0;margin-top:1px;">
            <span id="upload-text">
              <i class="fas fa-upload" style="margin-right: 5px;"></i>Click to add a photo !
            </span>
            <i id="check-icon" class="fas fa-check-circle" style="margin-left: 10px; display: none; color: white;"></i>
          </p>
          <span style="display:none;">
            <%= f.file_field :avatar, id: 'avatar-upload' %>
          </span>
        </label>
        <div class="spacer-sm"></div>
        <!--         <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %> 
        <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %> -->
      </div>
      <div class="form-actions">
        <%= button_tag(type: 'submit', class: 'btn cta', style: 'float: right;') do %>
          <i style="margin-right: 10px;" class="fas fa-save"></i> Save
        <% end %>
      </div>
    <% end %>
    <%= link_to '<i style="margin-right: 10px;" class="fas fa-caret-left"></i> Back'.html_safe, :back, class:"btn cta-secondary" %>
  </div>
</div>