<div class="form-container">
  <div class="form" style="padding:20px;">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :first_name,
                required: true,
                input_html: { autocomplete: "first-name" }%>
        <div class="">
          <div class="awesom-title">
            <i class="fas fa-image"></i>
            <p style="margin:0;">Avatar</p>
          </div>
          <%= f.file_field :avatar, label: "Main photo" %>
        </div>
        <!--         <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %> -->
        <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Update",class:"btn btn-success",style:"float:right;" %>
      </div>
    <% end %>
    <%= link_to '<i style="margin-right: 10px;" class="fas fa-caret-left"></i> Back'.html_safe, :back, class:"btn btn-secondary" %>
  </div>
</div>