<div class="form-container">
  <div class="form" style="padding:20px;">
    <div class="flex-center">
      <%= image_tag("/logo.png") %>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
        <%= f.input :first_name,
                required: true,
                input_html: { autocomplete: "first-name" }%>
        <%= f.input :password,
                required: true,
                input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
        <label style="margin-top:15px;font-size: 12px;" class="required" for="">Add a photo <abbr title="required">*</abbr></label>
        <label class="btn cta-secondary" style="    width: 100%;
    border-radius: 12.5px;
    min-height: 38px;
    margin-top: 0;margin-left:0;">
          <p style="margin:0;margin-top:1px;">
            <span id="upload-text">
              <i class="fas fa-upload" style="margin-right: 5px;"></i>Click to add a photo !
            </span>
            <i id="check-icon" class="fas fa-check-circle" style="margin-left: 10px; display: none; color: white;"></i>
          </p>
          <span style="display:none;">
            <%= f.file_field :avatar, id: 'avatar-upload' %>
          </span>
        </label>
      </div>
      <div class="form-actions pt-4 pb-4">
        <%= button_tag(type: 'submit', class: 'btn cta', style: 'width:100%;') do %>
          <i style="margin-right: 10px;" class="fas fa-user-plus"></i> Sign up
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
   // Get the file input, text display element, and checkmark icon element
   var fileInput = document.getElementById('avatar-upload');
   var uploadText = document.getElementById('upload-text');
   var checkIcon = document.getElementById('check-icon');
  
   // Listen for changes to the file input
   fileInput.addEventListener('change', function() {
     if (fileInput.files[0]) {
       // Display the file name and show the checkmark
       uploadText.innerHTML = `<i class="fas fa-file" style="margin-right: 5px;"></i> ${fileInput.files[0].name}`;
       checkIcon.style.display = 'inline';
     } else {
       // No file selected, show default text and hide the checkmark
       uploadText.innerHTML = `<i class="fas fa-upload" style="margin-right: 5px;"></i> Add a photo !`;
       checkIcon.style.display = 'none';
     }
   });
  });
</script>