<div class="container" style="padding-top:20px;padding-bottom:20px;">
  <div id="search-results" style="max-width:700px;margin:0 auto;">
    <div style="  display:flex;
  align-items:center;
  justify-content:center;
  gap:7.5px;">
      <h1 class="" style="text-align:center;display:inline-block;">
        Properties
      </h1>
    </div>
    <%= form_tag(properties_path, method: "get", remote: true, id:"search-form", style:"display: flex;
    align-items: center;
    justify-content: center;") do %>
      <div style="display: flex;align-items:center;justify-content:space-between;width: 100%;">
        <div style="display: flex;align-items:center;justify-content:center;">
          <div style="display: flex;align-items:center;justify-content:center;border-bottom: 1.5px solid black;">
            <div style="margin-right:5px;">
              <i class="fas fa-search"></i>
            </div>
            <%= text_field_tag :search, params[:search], id:"search-field", style:"
    outline: none;
    border:none;
    max-width: 90px;" %>
          </div>
          <%= submit_tag "Search", id:"search-sub", style:"display:none;" %>
        </div>
        <%= link_to '<i class="fas fa-plus" style="margin-right:5px;"></i> New'.html_safe, new_property_path, class:"btn btn-success", style:"#{'opacity: 0;  pointer-events: none;cursor: default;text-decoration: none;color: black;' unless current_user.admin}" %>
      </div>
    <% end %>
    <div class="spacer"></div>
    <div id="blogpost-table">
      <% @properties.all.each do |property| %>
        <div class="property-card">
          <div style="gap: 10px;display:flex;align-items:center;justify-content:space-between;margin-bottom:10px;">
            <h4><i style="margin-right: 10px;" class="fas fa-house"></i><%= property.name %></h4>
            <%= link_to 'Book <i class="fas fa-caret-right" style="margin-left:5px;"></i>'.html_safe, property_path(property), class:"btn btn-success" %>
          </div>
          <div class="property-card-content">
            <%= cl_image_tag property.main_photo.key, :crop=>"fill", style:"width:150px;height:150px;border-radius:500px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;" %>
            <div class="">
              <p style="margin-bottom:0;">
                <i class="fas fa-users"></i>
                <%= property.capacity %>
                Guests
              </p>
              <p style="margin-bottom:0;">
                <i class="fas fa-bed"></i>
                <%= property.bedrooms %>
                Bedrooms
              </p>
              <p style="margin-bottom:0;">
                <i class="fas fa-bath"></i>
                <%= property.bathrooms %>
                Bathrooms
              </p>
            </div>
            <div class="">
              <p style="margin-bottom:0;">
                Available today?
                <i style="<%= property.available_now ? 'color: #0d6efd;' : 'font-size: 19px;color: red;' %>"  class="fas fa-<%= property.available_now ? 'check' : 'times' %>"></i>
              </p>
              <p style="margin-bottom:0;">
                Reservable?
                <i style="<%= property.reservable ? 'color: #0d6efd;' : 'font-size: 19px;color: red;' %>" class="fas fa-<%= property.reservable ? 'check' : 'times' %>"></i>
              </p>
            </div>
          </div>
          <div class="spacer-sm"></div>
          <%= render 'shared/week_property_calendar', property: property%>
        </div>
        <div class="spacer"></div>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag "search" %>