<div class="" style="padding-top:20px;padding-bottom:20px;">
  <div id="search-results" style="max-width:800px;margin:0 auto;">
    <div class="spacer-sm"></div>
    <div class="flex-center">     
      <div class="page-title">
        <h4 style="text-align: center;color:white;margin-bottom: 0;">Properties</h4>
        <hr style="margin-top:0;border-top: 2.5px solid;">
      </div>
    </div>
    <%= form_tag(properties_path, method: "get", remote: true, id:"search-form", style:"display: flex;
    align-items: center;
    justify-content: center;") do %>
      <div style="display: flex;align-items:center;justify-content:space-between;width: 100%;margin: 0 10px;">
        <div style="display: flex;align-items:center;justify-content:center;">
          <div style="display: flex;align-items:center;justify-content:center;border-bottom: 1.5px solid rgb(242, 242, 242);">
            <div style="margin-right:5px;">
              <i class="fas fa-search" style="color:rgb(242, 242, 242);"></i>
            </div>
            <%= text_field_tag :search, params[:search], id:"search-field", style:"
    outline: none;
    border:none;
    max-width: 90px;background-color: rgb(87, 111, 139);color:rgb(242, 242, 242);" %>
          </div>
          <%= submit_tag "Search", id:"search-sub", style:"display:none;" %>
        </div>
        <%= link_to '<i class="fas fa-plus" style="margin-right:5px;"></i> New'.html_safe, new_property_path, class:"btn cta", style:"#{'opacity: 0;  pointer-events: none;cursor: default;text-decoration: none;color: black;' unless current_user.maintenance}" %>
      </div>
    <% end %>
    <div class="spacer"></div>
    <div id="blogpost-table" style="display: flex
;
    align-items: center;
    justify-content: center;
    flex-direction: column;">
      <% @properties.all.each do |property| %>
        <%= render 'shared/property', property: property%>

      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag "search" %>