<div class="container" style="padding-top:20px;padding-bottom:20px;">
  <div id="search-results" style="max-width:800px;margin:0 auto;">
    <div style="  display:flex;
  align-items:center;
  justify-content:center;
  gap:7.5px;">
      <h1 class="" style="text-align:center;display:inline-block;">
        Properties
      </h1>
    </div>
    <%= form_tag(properties_path, method: "get", remote: true, id:"search-form", style:"display: flex;
    align-items: center;
    justify-content: center;") do %>
      <div style="display: flex;align-items:center;justify-content:space-between;width: 100%;">
        <div style="display: flex;align-items:center;justify-content:center;">
          <div style="display: flex;align-items:center;justify-content:center;border-bottom: 1.5px solid black;">
            <div style="margin-right:5px;">
              <i class="fas fa-search"></i>
            </div>
            <%= text_field_tag :search, params[:search], id:"search-field", style:"
    outline: none;
    border:none;
    max-width: 90px;" %>
          </div>
          <%= submit_tag "Search", id:"search-sub", style:"display:none;" %>
        </div>
        <%= link_to '<i class="fas fa-plus" style="margin-right:5px;"></i> New'.html_safe, new_property_path, class:"btn btn-success", style:"#{'opacity: 0;  pointer-events: none;cursor: default;text-decoration: none;color: black;' unless current_user.admin}" %>
      </div>
    <% end %>
    <div class="spacer"></div>
    <div id="blogpost-table">
      <% @properties.all.each do |property| %>
        <%= render 'shared/property', property: property%>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag "search" %>