<div class="container" style="padding-top:20px;padding-bottom:20px;">
<div class="spacer-sm"></div>
  <div style="max-width:800px;margin:0 auto;">
    <div style="  display:flex;
  align-items:center;
  justify-content: space-between;
  gap:7.5px;">
      <%= link_to '<i class="fas fa-caret-left" style="margin-right:5px;"></i> Back'.html_safe, properties_path, class:"btn cta-secondary", :"data-turbolinks" => false %>

           <div class="page-title">
      <h4 style="text-align: center;color:white;margin-bottom:0;"><%= @property.name %></h4>
      <hr style="margin-top:0px;border-top: 2.5px solid;">
    </div>
      <%= link_to '<i class="fas fa-edit" style="margin-right:5px;"></i> Edit'.html_safe, edit_property_path(@property), class:"btn cta", style:"#{'opacity: 0;  pointer-events: none;cursor: default;text-decoration: none;color: black;' unless current_user.admin}" %>
    </div>
 
    <%= render 'shared/property_calendar', property: @property %>
  
    <div class="spacer"></div>
    <div style="max-width:800px;" class="">

      <%= render 'shared/carousel', property: @property %>
   
      <div class="info-and-reservation">
        <div style="padding:20px;" class="info">
          <h4 style="color: rgb(73, 91, 115);">About <%= @property.name %></h4>
          <div class="spacer-sm"></div>
          <div style="display:inline-block;display: flex;margin: 0 auto;align-items: center;justify-content: flex-start;">
            <div class="show-property" style="">
              <p>
                Available today?
                <i style="<%= @property.available_now ? 'color: rgb(73, 91, 115);' : 'font-size: 19px;color: rgb(73, 91, 115);' %>"  class="fas fa-<%= @property.available_now ? 'check' : 'times' %>"></i>
              </p>
              <p>
                Reservable?
                <i style="<%= @property.reservable ? 'color: rgb(73, 91, 115);' : 'font-size: 19px;color: rgb(73, 91, 115);' %>" class="fas fa-<%= @property.reservable ? 'check' : 'times' %>"></i>
              </p>
              <div class="spacer-sm">
              </div>
              <p>
                <i class="fas fa-users" style="color: rgb(73, 91, 115);"></i>
                <%= @property.capacity %>
                Guests
              </p>
              <p>
                <i class="fas fa-bed" style="color: rgb(73, 91, 115);"></i>
                <%= @property.bedrooms %>
                Bedrooms
              </p>
              <p>
                <i class="fas fa-bath" style="color: rgb(73, 91, 115);"></i>
                <%= @property.bathrooms %>
                Bathrooms
              </p>
            </div>
          </div>
        </div>
        <div class="property-reservation-form">
          <h4>Book now !</h4>
          <%= render 'reservations/form', reservation: Reservation.new(), property: @property%>
        </div>
      </div>
    </div>

  </div>
</div>