<div class="property-card-2">

    <div class="upper-card">
        <%= link_to property_path(property), class:"", style:"text-decoration:none!important;align-self: flex-end;", :"data-turbolinks" => false do %>
        <%= cl_image_tag property.main_photo.key, :crop=>"fill", :quality=>"auto", style:"width:100%;max-width: 190px;aspect-ratio:1/1;border-radius:15px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;" %>

        <% end %>

        <div class="upper-card-title-form" style="display: flex
;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;">

            <%= link_to property_path(property), class:"upper-card-title", style:"text-decoration:none!important;", :"data-turbolinks" => false do %>
            <h4 style="font-size: calc(1.3rem + 0.2vw);margin:0;text-align:center;color:#576f8b;"><%= property.name %></h4>
            <p style="margin:0;font-size:10px;font-weight:100;text-align:center;color:#576f8b;margin-top:-5px;">Disponible</p>

            <% end %>

            <div class="upper-card-form">
                <%= render 'reservations/fast_form_2', reservation: Reservation.new(), property: property%>
            </div>
        </div>

    </div>

        <div class="lower-card">
        <%= render 'shared/week_property_calendar', property: property%>
    </div>
    <div class="middle-card" style="width:100%">
        <button onclick="
        document.querySelector('.property-<%= property.id%>')?.click();
      " style="    display: block;
    width: 100%;
    height: 40px;
    font-size: 14px !important;
    font-weight: 100 !important;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none !important;
      " class="btn btn cta cta-secondary">Book now !</button>
    </div>


</div>

<style>
    .property-card-2 .table>thead {
        display: none;
    }

    .property-card-2 input {
        font-size: .5rem;
    }

    .property-card-2 .form-inputs>* {
        margin: 0;
    }

    .property-card-2 {
        background: #f2f2f2;
        padding: 25px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 15px;
        max-width: 385px;
        margin: 25px 10px;

        input {}

        .form-check {
            min-height: 15px;
            padding-left: 15px;
            >input {
                font-size: 12px !important;
            }
        }
    }

    .upper-card {
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: 15px;
    }

    .upper-card-title {
   

    }
</style>