<%= month_calendar(events: property.reservations.where.not(status: 0), attribute: :start_date, end_attribute: :end_date) do |date, reservations| %>
  <p style="
    margin: 0;
    display: inline-block;
    padding: 2.5px 5px;
    border-radius: 5px;
    <%= 'background: #198754!important;color: white!important;' if date == Date.today %>"><%= date.day %></p>
  <% reservations.each do |reservation| %>
    <a class="hover-underline-animation norm user collapse-toggle" data-toggle="collapse" href="#collapse-<%= reservation.id %>" role="button" aria-expanded="false" aria-controls="collapse-<%= reservation.id %>" style="text-decoration:none;color:black;font-size:.75rem;margin-bottom:0;text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;margin-bottom:5px;display:flex;align-items:center;justify-content flex-start;gap:5px;margin-top:5px;">
      <% if reservation.user.avatar.attached? %>
        <%= cl_image_tag reservation.user.avatar.key, :gravity=>"face", :crop=>"fill", :height=>150, :width=>150, :quality=>"auto", style:"width:20px;height:20px;border-radius:500px;" %>
      <% else %>
        <img src="/help_avatar.png" style="width:20px;height:20px;border-radius:500px;" alt="">
      <% end %>
      <p style="margin-bottom:0;"><%= reservation.user.first_name %></p>
    </a>
  <% end %>
<% end %>
<div class="">
  <% property.reservations.where.not(status: 0).each do |reservation| %>
    <div class="collapse" id="collapse-<%= reservation.id %>">
      <%= render 'shared/property_reservation', reservation: reservation%>
    </div>
  <% end %>
</div>