<%= simple_form_for(reservation, local:true) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <% if defined?(property) %>
    <% current_property = property %>
  <% else %>
    <% current_property = reservation.property %>
  <% end %>
  <% disabled_dates = (current_property.get_unavailable_days + current_user.get_unavailable_days).uniq %>
  <div class="form-inputs">
    <%= f.input :property_id, input_html: {value: current_property.id}, as: :hidden %>
    <%= f.input :user_id, input_html: {value: current_user.id}, as: :hidden %>
    <div style="display:flex;align-items:center;justify-content:space-between;gap:10px;">
      <div class="my-label">
        <div class="awesom-title">
          <i class="fas fa-calendar"></i>
          <p style="margin:0;">Start date</p>
        </div>
        <%= f.text_field :start_date,
    data: {
      controller: "flatpickr",
      flatpickr_alt_input: true,
      flatpickr_min_date: Time.zone.now,
      flatpickr_enable_time: true,
      flatpickr_disable: disabled_dates, #disables individual dates

    }  %>
      </div>
      <div class="my-label">
        <div class="awesom-title">
          <i class="fas fa-calendar"></i>
          <p style="margin:0;">End Date</p>
        </div>
        <%= f.text_field :end_date,
    data: {
      controller: "flatpickr",
      flatpickr_alt_input: true,
      flatpickr_min_date: Time.zone.now,
      flatpickr_enable_time: true,
      flatpickr_disable: disabled_dates, #disables individual dates


    } %>
      </div>
    </div>
    <div style="display:flex;justify-content:space-between;gap:10px;">
      <div style="max-width:50%;" class="my-label">
        <div class="awesom-title" style="margin: 0;
    justify-content: center;
    height: 100%;
    margin-bottom: -30px;">
          <%= f.input :is_private %>
        </div>
      </div>
      <div style="width:50%;" class="my-label">
        <div class="form-actions">
          <%= f.button :submit, "Book !", class:"btn btn-success", style:"width:100%;", disabled: !current_property.reservable, data:{ disable_with: "Processing..." } %>
        </div>
      </div>
    </div>
    <%= f.input :guest_count,label:false, input_html: {value: 1}, as: :hidden %>
    <%= f.input :comment, label: false, input_html: {value: "Fast reservation"}, as: :hidden %>
  </div>
<% end %>