<div class="simple-calendar">
  <div class="calendar-heading" style="gap:0px;">
    <%= link_to t('simple_calendar.previous', default: '<i class="fas fa-caret-left"></i>'.html_safe), calendar.url_for_previous_view, style:"padding: 5px 25px 5px 14px;
    background: white;
    border-radius: 50px 0 0 50px;
    color: #576f8b !important;" %>
    <span class="calendar-title" style="    padding: 5px 7.5px;
    background: white;
    font-weight: 600;
    color: #495b73;"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    <%= link_to t('simple_calendar.next', default: '<i class="fas fa-caret-right"></i>'.html_safe), calendar.url_for_next_view, style:"padding: 5px 14px 5px 25px;
    background: white;
    border-radius: 0 50px 50px 0;
    color: #576f8b !important;" %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
</script>